// Place all the styles related to the grid_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page{
    max-width: 480px;
    margin: 0 auto;
    padding:20px;
    .user-icon{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:20px;
        padding-top:30px;

        .profile-img{
            height:80px;
            width:80px;
            border-radius:5%;
        }
            .profile-default-img{
            height:80px;
            width:80px;
            border-radius: 5%;
            background-image: url("/images/profile_default_img_128.png");
            background-size: contain;
            object-fit:cover;
            }

            img{
            object-fit:cover;
            height:80px;
            width:80px;
            border-radius: 5%;
            }
    }
}